@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);




#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#header1-2 H1 {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  color: #ffffff;
}
#header1-2 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}


#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-b .mbr-navbar__section {
  background: #ffffff;
}
#menu-b .mbr-navbar__hamburger {
  color: #000000;
}
#menu-b .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#menu-b .mbr-navbar__items a {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#pricing-table1-r DIV {
  color: #333333;
}


#menu-e .mbr-brand__name {
  font-size: 16px;
}
#menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-e .mbr-navbar__section {
  background: #ffffff;
}
#menu-e .mbr-navbar__hamburger {
  color: #000000;
}
#menu-e .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#menu-e .mbr-navbar__items a {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#contacts1-p P {
  text-align: left;
  color: #000000;
}
#contacts1-p STRONG {
  text-align: center;
}
#footer1-16 P {
  color: #000000;
  text-align: center;
}


#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-1 .mbr-navbar__section {
  background: #ffffff;
}
#menu-1 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-1 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#menu-1 .mbr-navbar__items a {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}


#menu-17 .mbr-brand__name {
  font-size: 16px;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-17 .mbr-navbar__section {
  background: #ffffff;
}
#menu-17 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-17 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#menu-17 .mbr-navbar__items a {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#content4-1d P {
  color: #ffffff;
}
#content4-1d .mbr-section__col .mbr-header__text {
  color: #ffffff;
}


#menu-1e .mbr-brand__name {
  font-size: 16px;
}
#menu-1e.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-1e .mbr-navbar__section {
  background: #ffffff;
}
#menu-1e .mbr-navbar__hamburger {
  color: #000000;
}
#menu-1e .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#menu-1e .mbr-navbar__items a {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#content4-1j P {
  color: #ffffff;
}
